<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
  </head>
  <body>
    <div class="login-card">
      <h1>Forgot Password</h1>
    </div>
    <div class="login-card">
      <div class="grant-debug">
        <%- JSON.stringify(details.interaction, null, 4) %>
      </div>
      <div class="grant-debug">
        <%- JSON.stringify(details.params, null, 4) %>
      </div>
    </div>
  </body>
</html>