<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
  </head>
  <body>
    <div class="login-card">
      <h1>Reset Password</h1>
      <form autocomplete="off" action="<%= details.pathPrefix %>/interaction/<%= details.uuid %>/forgotpassword" method="post">

        <label>New Password:</label>
        <input required type="password" name="password" placeholder="tim@example.com" />

        <label>Confirm New Password:</label>
        <input required type="password" name="confirmPassword" placeholder="tim@example.com" />

        <button type="submit" name="submit" class="login login-submit">Send Recovery Email</button>
      </form>
    </div>
    <div class="login-card">
      <div class="grant-debug">
        <%- JSON.stringify(details.interaction, null, 4) %>
      </div>
      <div class="grant-debug">
        <%- JSON.stringify(details.params, null, 4) %>
      </div>
    </div>
  </body>
</html>