<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
  </head>
  <body>
    <div class="login-card">
      <h1>Reset Password</h1>
      <form autocomplete="off" action="<%= pathPrefix %>/resetpassword/<%= forgotPasswordUUID %>" method="post">

        <label>New Password:</label>
        <input required type="password" name="password" placeholder="" />

        <label>Confirm New Password:</label>
        <input required type="password" name="confirmPassword" placeholder="" />

        <button type="submit" name="submit" class="login login-submit">Reset Password</button>
      </form>
    </div>
  </body>
</html>